<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<head th:replace="fragments/header :: header"></head>
<body>

<div id="body" class="theme-cyan">
    <div th:replace="fragments/loader :: loader">
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">
        <nav th:replace="fragments/navbar :: navbar">
        </nav>
        <div th:replace="fragments/sidebar :: sidebar">
        </div>

        <!-- Main body part  -->
        <div id="main-content">
            <div class="container-fluid">
                <!-- Page header section  -->
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <h1>Zone Information</h1>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                            <div class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">
                                <div class="border-right pr-4 mr-4 mb-2 mb-xl-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card social theme-bg gradient">
                            <div class="profile-header d-sm-flex justify-content-between justify-content-center">
                                <div class="d-flex">
                                    <div class="mr-3">
                                        <style>
                                            .rounded {
                                                max-width: 120px
                                            }
                                        </style>
                                        <img th:src="${zone.image}" class="rounded" alt="">
                                    </div>
                                    <div class="details">
                                        <h5 class="mb-0" th:text="${'Zone Name: ' + zone.libelle}"></h5>
                                        <span class="text-light" th:text="${'Area: ' + zone.superficie + ' m²'}"></span>
                                        <p class="mb-0"><span th:text="${'Soil Type: ' + zone.type.name}"></span></p>
                                    </div>
                                </div>
                                <div>
                                    <a th:href="@{/farmer/zones/{id}/grandeurs (id=${zone.id})}" class="btn btn-default">Metrics</a>
                                    <a th:href="@{/farmer/zones/{id}/boitiers (id=${zone.id})}" class="btn btn-dark">Boxes</a>
                                    <a th:href="@{/farmer/zones/update/{id} (id=${zone.id})}" class="btn btn-info">Modify</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-2">
                        <div class="card">
                            <div class="header">
                                <h2>Irrigation Record</h2>
                            </div>
                            <div class="body">
                                <form th:action="@{/farmer/zones/{id}/arrosage (id=${zone.id})}" method="post" class="body">
                                    <input type="hidden" name="_csrf" value="024b210c-eda8-41a5-9eba-e932bc5857af">
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="form-group c_form_group">
                                                <label>Date</label>
                                                <input name="date" type="date" class="form-control" placeholder="Irrigation date...">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group c_form_group">
                                                <label>Water Liters</label>
                                                <input name="litres" type="number" class="form-control" placeholder="... liters">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success">Record</button>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h2>Irrigation History</h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Water Quantity</th>
                                            <th>Modify</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="irrigation : ${zone.arrosages}">
                                            <td th:text="${#dates.format(irrigation.date, 'dd-MMM-yyyy')}"></td>
                                            <td th:text="${irrigation.litresEau + ' liters'}"></td>
                                            <td>
                                                <a th:href="@{'/farmer/zones/' + ${zone.id} + '/modifier-arrosage/' + ${irrigation.id}}" class="btn btn-info" style="color: white;">Modify</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-4">
                        <div class="card">
                            <div class="header">
                                <h2>Plants</h2>
                            </div>
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Name - Root</th>
                                            <th>Planting Date</th>
                                            <th>Number of Plants</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="planting : ${zone.plantages}">
                                            <td scope="row">
                                                <div class="mr-3">
                                                    <img th:src="${planting.plante.image}" class="rounded" alt=""/>
                                                </div>
                                            </td>
                                            <td th:text="${planting.plante.libelle + ' - ' + planting.plante.racine}"></td>
                                            <td th:text="${#dates.format(planting.date, 'dd-MMM-yyyy')}"></td>
                                            <td th:text="${planting.nombre}"></td>
                                            <td><form method="post" th:action="@{'/farmer/zones/' + ${zone.id} + '/supprimer/' + ${planting.id}}" >
                                            <a th:href="@{'/farmer/zones/' + ${zone.id} + '/modifier-plantage/' + ${planting.id}}" class="btn btn-info" style="color: white;">Edit</a>
                                            <button type="submit" class="btn btn-danger" style="color: white;">Delete</button>
                                        </form ></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>
