<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html lang="en">

<head th:replace="fragments/header :: header">
    <style>
        .notification-dot {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 10px;
            background-color: red;
            color: white;
            border-radius: 50%;
            padding: 3px 6px;
        }

        .feeds_widget {
            max-height: 300px;
            overflow-y: auto;
        }
    </style>
</head>
<body>

<div id="body" class="theme-cyan">

    <div th:replace="fragments/loader :: loader">
    </div>
    <link rel="stylesheet" th:href="@{/vendor/c3/c3.min.css}"/>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <div id="wrapper">

        <nav th:replace="fragments/navbar :: navbar">
        </nav>

        <div th:replace="fragments/sidebar :: sidebar">
        </div>

        <div id="main-content">
            <div class="container-fluid">
                <!-- Page header section  -->
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <h1>Zone Sensors</h1>
                            <span>real-time,</span>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 text-lg-right">
                            <div class="d-flex align-items-center justify-content-lg-end mt-4 mt-lg-0 flex-wrap vivify pullUp delay-550">


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Check if the zoneId is 5 to display the charts -->
                <div th:if="${zoneId eq 5}" class="row row-cards">
                    <div class="col-md-6"><!-- Use col-md-6 to make the charts take half of the width -->

                        <div class="card">
                            <div class="header">
                                <h2>Humidity</h2>
                            </div>

                            <div class="body">
                                <div id="humidity-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"><!-- Use col-md-6 to make the charts take half of the width -->

                        <div class="card">
                            <div class="header">
                                <h2>Temperature</h2>
                            </div>
                            <div class="body">
                                <div id="temperature-chart"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Javascript -->
<script th:src="@{/bundles/libscripts.bundle.js}"></script>
<script th:src="@{/bundles/vendorscripts.bundle.js}"></script>

<!-- Vedor js file and create bundle with grunt  -->
<script th:src="@{/bundles/c3.bundle.js}"></script><!-- flot charts Plugin Js -->
<script th:src="@{/vendor/flot-charts/jquery.flot.time.js}"></script>
<script th:src="@{/vendor/flot-charts/jquery.flot.selection.js}"></script>

<!-- Project core js file minify with grunt -->
<script th:src="@{/bundles/mainscripts.bundle.js}"></script>

<script th:src="@{/bundles/mainscripts.bundle.js}"></script>

<!-- Add the logic for real-time data updates -->
<script th:src="@{/charts/c3.js}"></script>

</div>
</body>
</html>
