<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<div id="body" class="theme-cyan">
    <div th:replace="fragments/loader :: loader"></div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <div id="wrapper">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <!-- Main body part -->
        <div id="main-content">
            <div class="container-fluid">
                <!-- Page header section -->
                <div class="block-header">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <h1>Edit User</h1>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h2>Edit User</h2>
                            </div>
                            <form th:action="@{/users/update/{id} (id=${user.id})}" th:method="PUT" class="body">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Username</label>
                                            <input th:value="${user.username}" name="username" type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Address</label>
                                            <input th:value="${user.address}" name="address" type="text" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Phone Number</label>
                                            <input th:value="${user.phone}" name="phone" type="text" class="form-control" placeholder="06 ...">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>User Role</label>
                                            <select th:field="*{user.role}" class="form-control">
                                                <option value="USER">Farmer</option>
                                                <option value="ADMIN">Administrator</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>New Password</label>
                                            <input id="passwordInput" name="password"  type="password" class="form-control" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group c_form_group">
                                            <label>Password Confirmation</label>
                                            <input id="confirmationInput" name="confirmation" type="password" class="form-control" placeholder="Password Confirmation">
                                        </div>
                                    </div>
                                </div>
                                <button id="submitButton" type="submit" class="btn btn-primary theme-bg gradient" disabled>Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script th:src="@{/js/update.js}"></script>
</html>
